# ignore files
*.class
*.log*
*.old
/logs

# scala-IDE specific
.idea/
.idea_modules/
*.iml

# maven/sbt specific
.cache/
.history/
.lib/
sbt/
target/
project/

# development
/src/main/scala/examples
/src/main/scala/rdf/spine/conf
/src/main/scala/mllib
/src/main/scala/rdf/spine/parser/RangeTypeConstraint.scala