<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="DEV_HOME" value="logs" />

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${DEV_HOME}/ROSA-core.log</file>
        <append>false</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-20(\(%logger{0}\)) - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                <!-- [%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-20(\(%logger{0}\)) - %msg%n -->
                %green([%-5p]) %d{yyyy-MM-dd HH:mm:ss.SSS} %blue([){}%cyan(%thread){}%blue(]) %-20(\(%logger{0}\)) - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>