<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="log-path">rdf-spine</Property>
    </Properties>

    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%-23c{1}) - %msg%n"/>
        </Console>
        <!--<File name="Filelog" fileName="${filename}" append="false">-->
        <!--<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%-23c{1}) - %msg%n"/>-->
        <!--</File>-->
        <RollingFile name="trace-log" fileName="${log-path}-trace.log"
                     filePattern="${log-path}-trace-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%-23c{1}) - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Spark loggers (not working) -->
        <Logger name="org.apache.spark.storage" level="info" additivity="false">
            <appender-ref ref="trace-log"/>
        </Logger>
        <Logger name="org.apache.spark.scheduler" level="info" additivity="false">
            <appender-ref ref="trace-log"/>
        </Logger>
        <Logger name="org.apache.spark.CacheTracker" level="info" additivity="false">
            <appender-ref ref="trace-log"/>
        </Logger>
        <Logger name="org.apache.spark.CacheTrackerActor" level="info" additivity="false">
            <appender-ref ref="trace-log"/>
        </Logger>
        <Logger name="org.apache.spark.MapOutputTrackerActor" level="info" additivity="false">
            <appender-ref ref="trace-log"/>
        </Logger>
        <Logger name="org.apache.spark.MapOutputTracker" level="info" additivity="false">
            <appender-ref ref="trace-log"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="trace-log"/>
        </Root>
    </Loggers>

</Configuration>
